.book-cards{
    border-top: 1px solid;


    h1{
        display: block;
        text-align: center;
    }

    ul{
        list-style: none;
        padding: none;
        margin: none;
        display: inline-block;
        text-align: left;
        li{

            border-left: 1px solid;
            border-right: 1px solid;
            border-bottom: 1px solid;
            border-top: 1px solid;

            border-color: orange;
            background-color: #101213;

            max-width: 100%;
            padding: 2rem;
            margin: 2rem;
            button{
                max-height: 3rem;
            }
            
        }
    }

}